# 0.0.1 Data Structure

1. list [ …..],(contained diferent data types), order, changable, allow duplicate value
2. tuple (……), (contained different tada type), order, Unchange, allow duplicate valu # index (start 0)
3. set {…..}, (contained different tada type), unorder, Unchange,unidex
4. Dictionary in {key:value} pairs, ordered, changeable and do not allow duplicates

# List

In [1]:
country= ['Cambodia', " Thailand", " Vieatnam", " Laos", " Malaysia", " Japan"]
print(country)

['Cambodia', ' Thailand', ' Vieatnam', ' Laos', ' Malaysia', ' Japan']

In [2]:
print(country[1:4])  # 4 not count

[' Thailand', ' Vieatnam', ' Laos']

In [3]:
print(len(country))

6

In [4]:
print(country[-1])

 Japan

In [5]:
print(country[-5])

 Thailand

In [6]:
print(country[3:])

[' Laos', ' Malaysia', ' Japan']

In [7]:
country[1:3]=["French", " England"]
print(country)

['Cambodia', 'French', ' England', ' Laos', ' Malaysia', ' Japan']

In [8]:
 country[4]="Cambodia"
print(country)

['Cambodia', 'French', ' England', ' Laos', 'Cambodia', ' Japan']

In [9]:
country.append("Russia")
print(country)

['Cambodia', 'French', ' England', ' Laos', 'Cambodia', ' Japan', 'Russia']

In [10]:
country.insert(2, "Swiss")
print(country)

['Cambodia', 'French', 'Swiss', ' England', ' Laos', 'Cambodia', ' Japan', 'Russia']

In [13]:
#extend concate two list (conbine 2 lists)
fruit=["Mango", " Cherry", "potato"]
country.extend(fruit)
print(country)

['Cambodia', 'French', 'Swiss', 'Swiss', ' England', ' Laos', 'Cambodia', ' Japan', 'Russia', 'Mango', ' Cherry', 'potato']

In [14]:
country[5]= "Cambodia"
print(country)

['Cambodia', 'French', 'Swiss', 'Swiss', ' England', 'Cambodia', 'Cambodia', ' Japan', 'Russia', 'Mango', ' Cherry', 'potato']

In [15]:
#removed item from list: remove, pop(), del()
country.remove("Mango")
print(country)

['Cambodia', 'French', 'Swiss', 'Swiss', ' England', 'Cambodia', 'Cambodia', ' Japan', 'Russia', ' Cherry', 'potato']

In [16]:
country.pop(5)#index
print(country)

['Cambodia', 'French', 'Swiss', 'Swiss', ' England', 'Cambodia', ' Japan', 'Russia', ' Cherry', 'potato']

In [17]:
del country[8]
print(country)

['Cambodia', 'French', 'Swiss', 'Swiss', ' England', 'Cambodia', ' Japan', 'Russia', 'potato']

In [19]:
newlist=[]
for x in country:
    if "a" in x:
        newlist.append(x)
print(newlist)

['Cambodia', ' England', 'Cambodia', ' Japan', 'Russia', 'potato']

In [20]:
 # sort
country.sort()
print(country)

[' England', ' Japan', 'Cambodia', 'Cambodia', 'French', 'Russia', 'Swiss', 'Swiss', 'potato']

In [21]:
num=[45,78,1,45,67,9,3]
print(num)
num.sort()
print(num)

[45, 78, 1, 45, 67, 9, 3]
[1, 3, 9, 45, 45, 67, 78]

In [22]:
adj=["red","big", "tasty"]
fruit= [ "Apple", "Banana", "Dorian"]
for i in adj: #red #big #tasty
    for j in fruit:
        print(i,j)#red Apple, red Banana, red Durian #Big Apple, big Banaana,Big Durian
def nested_loop():
    for i in range (2, 4):
        for j in range(1,11):
            print(" {} x {} = {} ".format(i,j,i*j))
        print("_"*30)

red Apple
red Banana
red Dorian
big Apple
big Banana
big Dorian
tasty Apple
tasty Banana
tasty Dorian

In [23]:
adj=["red","big", "tasty"]
fruit= [ "Apple", "Banana", "Dorian"]
for i in adj: #red #big #tasty
    for j in fruit:
        print(i,j)#red Apple, red Banana, red Durian #Big Apple, big Banaana,Big Durian
def nested_loop():
    for i in range (2, 4):
        for j in range(1,11):
            print(f"{i}x{j:6}")
        print("_"*30)

red Apple
red Banana
red Dorian
big Apple
big Banana
big Dorian
tasty Apple
tasty Banana
tasty Dorian

In [25]:
li = [3, 1, 4, 2, 5]
li.sort()
print (li) # [1, 2, 3, 4, 5]
li = [3, 1, 4, 2, 5]
print (sorted(li)) # [1, 2, 3, 4, 5]
print (li) # [3, 1, 4, 2, 5]

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[3, 1, 4, 2, 5]

# 0.0.2 Set

tuple (…),contain differrent tatype, order, unchangeable, allow dublicated item

In [26]:
 cou=("Cambodia","Thailand","Brunei",34,67.901,"Brunei")
print(cou[0])
print(cou[2])
print(cou[5])

Cambodia
Brunei
Brunei

In [27]:
#update tuple
count1=list(cou)#convert from tuple to list
count1[3]=23 #change value
cou=tuple(count1)
print(cou)

('Cambodia', 'Thailand', 'Brunei', 23, 67.901, 'Brunei')

In [28]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
print(x)

('Brunei', 'Cambodia', 'Japan', 'Lao')

In [29]:
#unpack
(Lotus,Romdul,Sakura,Champa) = x

In [30]:
print(Lotus)

Brunei

In [31]:
a=("y","s","t")
b=(1,5,8)
c=a+b
print(c)

('y', 's', 't', 1, 5, 8)

In [32]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
y=x*2
print(y)

('Brunei', 'Cambodia', 'Japan', 'Lao', 'Brunei', 'Cambodia', 'Japan', 'Lao')

In [33]:
d=(3,6,8)
f=d*2
print(f)

(3, 6, 8, 3, 6, 8)

# 0.0.4 Dictionary {key:value}

dictionary {ky:value}, order, changable , and do not allow for dublicated key

In [47]:
dict={
    "Hi":"...",
    "Cambodia":"...",
    "Love":"...",
    "Age":28}

In [44]:
print(dict["Hi"])

...

In [45]:
for x in dict:
    print(x)

Hi
Cambodia
Love
Ang

In [48]:
print(dict["Age"])

28

In [49]:
l=dict.keys()
print(l)

dict_keys(['Hi', 'Cambodia', 'Love', 'Age'])

In [50]:
dict["Age"]=38
dict

{'Hi': '...', 'Cambodia': '...', 'Love': '...', 'Age': 38}

In [51]:
dict.update({"age" : 48})

In [52]:
dict

{'Hi': '...', 'Cambodia': '...', 'Love': '...', 'Age': 38, 'age': 48}

In [60]:
dict["Job"]="Data Scientist"
dict

{'Hi': '...',
 'Cambodia': '...',
 'Love': '...',
 'Age': 38,
 'Job': 'Data Scientist'}

In [62]:
dict.pop("Age")
dict

{'Hi': '...', 'Cambodia': '...', 'Love': '...', 'Job': 'Data Scientist'}

In [63]:
score={'color':'green','point':100}
print('You have earned '+str(score['color'])+" color, you will get "+str(score['point']))

You have earned green color, you will get 100

In [57]:
#nested dictionaary
#a={key: {key1:vlue1, key2:value2}}
family={
    "kid1":{
        'name':'Dara' ,
        'sex': 'M',
        'year':1990
    },
        "Kid2":{
        'name': 'Dary',
        "Sex" : 'M',
        'year':1995
    }
}

In [58]:
print(family["kid1"])

{'name': 'Dara', 'sex': 'M', 'year': 1990}

# Thank You!