## Data Structure
# List
[ ] contains different data types, order, changable, allow duplicated value

In [1]:
country = ['Cambodia', 'Thailand', 'Vietnam', 'Laos', 'Malaysia', 'Japan']
print(country)

['Cambodia', 'Thailand', 'Vietnam', 'Laos', 'Malaysia', 'Japan']

In [4]:
print(country[1 : 4])

['Thailand', 'Vietnam', 'Laos']

In [3]:
print(len(country))

6

In [5]:
print(country[-1])

Japan

In [6]:
print(country[-5])

Thailand

In [7]:
print(country[3:])

['Laos', 'Malaysia', 'Japan']

In [8]:
country[1:3] = ['French', 'England']

In [9]:
print(country)

['Cambodia', 'French', 'England', 'Laos', 'Malaysia', 'Japan']

In [10]:
country[4] = 'Cambodia'

In [11]:
print(country)

['Cambodia', 'French', 'England', 'Laos', 'Cambodia', 'Japan']

In [12]:
country.append('Russia')
print(country)

['Cambodia', 'French', 'England', 'Laos', 'Cambodia', 'Japan', 'Russia']

In [13]:
country.insert(2, "Swiss")
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Cambodia', 'Japan', 'Russia']

In [16]:
fruit = ['Mango', 'Cherry', 'Potato']
country.extend(fruit)
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Cambodia', 'Japan', 'Russia', 'Mango', 'Cherry', 'Potato', 'Mango', 'Cherry', 'Potato', 'Mango', 'Cherry', 'Potato']

In [17]:
country[5] = 'Cambodia'
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Cambodia', 'Japan', 'Russia', 'Mango', 'Cherry', 'Potato', 'Mango', 'Cherry', 'Potato', 'Mango', 'Cherry', 'Potato']

In [18]:
country.remove("Mango")
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Cambodia', 'Japan', 'Russia', 'Cherry', 'Potato', 'Mango', 'Cherry', 'Potato', 'Mango', 'Cherry', 'Potato']

In [19]:
country.pop(5)
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Japan', 'Russia', 'Cherry', 'Potato', 'Mango', 'Cherry', 'Potato', 'Mango', 'Cherry', 'Potato']

In [20]:
del country[8]
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Japan', 'Russia', 'Cherry', 'Mango', 'Cherry', 'Potato', 'Mango', 'Cherry', 'Potato']

In [21]:
#identation
newList = []
for x in country:
    if "a" in x:
        newList.append(x)
print(newList)

['Cambodia', 'England', 'Laos', 'Japan', 'Russia', 'Mango', 'Potato', 'Mango', 'Potato']

In [22]:
country.sort()
print(country)

['Cambodia', 'Cherry', 'Cherry', 'Cherry', 'England', 'French', 'Japan', 'Laos', 'Mango', 'Mango', 'Potato', 'Potato', 'Russia', 'Swiss']

In [23]:
num = [45, 78, 1, 45, 67, 9, 3]
print(num)

num.sort()
print(num)

[45, 78, 1, 45, 67, 9, 3]
[1, 3, 9, 45, 45, 67, 78]

In [24]:
adj = ['red', 'big', 'tasty']
fruit = ['Apple', 'Banana', 'Dorian']

for i in adj:
    for j in fruit:
        print(i, j)

def nested_loop():
    for i in range(2, 4):
        for j in range(1, 11):
            print(" {} x {} = {}".format(i, i, i*j))
        print("_"*30)
nested_loop()

red Apple
red Banana
red Dorian
big Apple
big Banana
big Dorian
tasty Apple
tasty Banana
tasty Dorian
 2 x 2 = 2
 2 x 2 = 4
 2 x 2 = 6
 2 x 2 = 8
 2 x 2 = 10
 2 x 2 = 12
 2 x 2 = 14
 2 x 2 = 16
 2 x 2 = 18
 2 x 2 = 20
______________________________
 3 x 3 = 3
 3 x 3 = 6
 3 x 3 = 9
 3 x 3 = 12
 3 x 3 = 15
 3 x 3 = 18
 3 x 3 = 21
 3 x 3 = 24
 3 x 3 = 27
 3 x 3 = 30
______________________________

In [25]:
li = [3, 1, 4, 2, 5]
li.sort()
print(li)

li = [3, 1, 4, 2, 5]
print(sorted(li))
print(li)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[3, 1, 4, 2, 5]

## Set
{...} contained different data type, unorder, unchangable, unindexing

In [26]:
book = {"Mein Kampf", "Think and Grow Rich", "Follow Your Heart", "7 Habbit", 9}
book

{'7 Habbit', 9, 'Follow Your Heart', 'Mein Kampf', 'Think and Grow Rich'}

In [27]:
for i in book: 
    print(i)

7 Habbit
Think and Grow Rich
Follow Your Heart
Mein Kampf
9

In [28]:
book.add("Cambodia")
book

{'7 Habbit',
 9,
 'Cambodia',
 'Follow Your Heart',
 'Mein Kampf',
 'Think and Grow Rich'}

## Tuple
(...) contained different data type, order, unchangable, allow duplicated items

In [30]:
cou = ("Cambodia", "Thailand", "Brunei", 34, 67.901, "Brunei")
print(cou[0])
print(cou[2])
print(cou[5])

Cambodia
Brunei
Brunei

In [31]:
#update tuple
count1 = list(cou)
print(cou)

('Cambodia', 'Thailand', 'Brunei', 34, 67.901, 'Brunei')

In [32]:
x = ('Brunei', 'Cambodia', 'Japan', 'Lao')
print(x)

('Brunei', 'Cambodia', 'Japan', 'Lao')

In [34]:
#unpack
(Lotus,Romdul,Sakura,Champa) = x
print(Lotus)

Brunei

In [35]:
a = ("y","s","t")
b = (1,5,8)
c = a + b
print(c)

('y', 's', 't', 1, 5, 8)

In [36]:
x = ('Brunei', 'Cambodia', 'Japan', 'Lao')
y = x * 2
print(y)

('Brunei', 'Cambodia', 'Japan', 'Lao', 'Brunei', 'Cambodia', 'Japan', 'Lao')

In [37]:
d = (3,6,8)
f = d * 2
print(f)

(3, 6, 8, 3, 6, 8)

## Dictionary {key : value}
{key : value}, order, changable, and do not allow duplicate

In [38]:
dict={
    "Hi":" ",
    "Cambodia":" ", 
    "Love":" ", 
    "Age":28}

print(dict["Hi"])

In [39]:
for x in dict: 
    print(x)

Hi
Cambodia
Love
Age

In [40]:
print(dict["Age"])

28

In [41]:
l = dict.keys()
print(l)

dict_keys(['Hi', 'Cambodia', 'Love', 'Age'])

In [42]:
dict["Age"] = 38
dict

{'Hi': ' ', 'Cambodia': ' ', 'Love': ' ', 'Age': 38}

In [43]:
dict.update({"age" : 48})
dict

{'Hi': ' ', 'Cambodia': ' ', 'Love': ' ', 'Age': 38, 'age': 48}

In [44]:
dict["Job"] = "Data Scientist"
dict

{'Hi': ' ',
 'Cambodia': ' ',
 'Love': ' ',
 'Age': 38,
 'age': 48,
 'Job': 'Data Scientist'}

In [45]:
dict.pop("age")
dict

{'Hi': ' ', 'Cambodia': ' ', 'Love': ' ', 'Age': 38, 'Job': 'Data Scientist'}

In [46]:
score = { 
    'color' : 'green',
    'point' : 100 }

print('You have earned ' + 
      str(score['color']) + 
      " color, you will get " + 
      str(score['point']))

You have earned green color, you will get 100

In [47]:
family={
    "kid1" : {
        'name':'Dara' ,
        'sex': 'M',
        'year':1990
    },
    "Kid2":{
        'name': 'Dary',
        "Sex" : 'M',
        'year':1995
    }
}
print(family["kid1"])

{'name': 'Dara', 'sex': 'M', 'year': 1990}