### Name: KHUN Dararith
### ID: m060813

## <center>Data_Structure

## 0.0.1 Data Structure

1. list [ .....],(contained diferent data types), order, changable, allow duplicate value 
2. tuple (......), (contained different tada type), order, Unchange, allow duplicate valu # index  (start 0) 
3. set {.....}, (contained different tada type), unorder, Unchange,unidex 
4. Dictionary in {key:value} pairs, ordered, changeable and do not allow duplicates.

### List

In [13]:
country = ['Cambodia', "Thailand", "Vietnam", "Laos", "Malaysia", "Japan"]
print(country)

['Cambodia', 'Thailand', 'Vietnam', 'Laos', 'Malaysia', 'Japan']

In [14]:
print(country[1:4]) # 4 not count

['Thailand', 'Vietnam', 'Laos']

In [15]:
print(len(country))

6

In [16]:
print(country[-1])

Japan

In [17]:
print(country[-5])

Thailand

In [18]:
print(country[3:])

['Laos', 'Malaysia', 'Japan']

In [19]:
country[1:3] = ["French", "England"]
print(country)

['Cambodia', 'French', 'England', 'Laos', 'Malaysia', 'Japan']

In [20]:
country[4] = "Cambodia"
print(country)

['Cambodia', 'French', 'England', 'Laos', 'Cambodia', 'Japan']

In [21]:
country.append("Russia")
print(country)

['Cambodia', 'French', 'England', 'Laos', 'Cambodia', 'Japan', 'Russia']

In [22]:
country.insert(2, "Swiss")
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Cambodia', 'Japan', 'Russia']

In [23]:
#extend concate two list (conbine 2 lists)
fruit = ["Mango", "Cherry", "Potato"]
country.extend(fruit)
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Cambodia', 'Japan', 'Russia', 'Mango', 'Cherry', 'Potato']

In [24]:
country[5] = "Cambodia"
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Cambodia', 'Japan', 'Russia', 'Mango', 'Cherry', 'Potato']

In [25]:
#removed item from list: remove, pop(), del()
country.remove("Mango")
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Cambodia', 'Japan', 'Russia', 'Cherry', 'Potato']

In [26]:
country.pop(5) #index
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Japan', 'Russia', 'Cherry', 'Potato']

In [27]:
del country[8]
print(country)

['Cambodia', 'French', 'Swiss', 'England', 'Laos', 'Japan', 'Russia', 'Cherry']

In [28]:
#indentation
newlist = []
for x in country : 
    if "a" in x :
        newlist.append(x)
print(newlist)

['Cambodia', 'England', 'Laos', 'Japan', 'Russia']

In [29]:
#sort
country.sort()
print(country)

['Cambodia', 'Cherry', 'England', 'French', 'Japan', 'Laos', 'Russia', 'Swiss']

In [30]:
num = [45, 78, 1, 45, 67, 9, 3]
print(num)
num.sort()
print(num)

[45, 78, 1, 45, 67, 9, 3]
[1, 3, 9, 45, 45, 67, 78]

In [31]:
adj = ["red", "big", "tasty"]
fruit = ["Apple", "Banana", "Dorian"]

for i in adj : #red, big, tasty
    for j in fruit :
        print(i, j)

def nested_loop():
    for i in range(2, 4) :
        for j in range(1, 11) :
            print("   {}   x    {}    =    {} ".format(i, j, i*j))
        print("_"*30)

red Apple
red Banana
red Dorian
big Apple
big Banana
big Dorian
tasty Apple
tasty Banana
tasty Dorian

In [33]:
adj=["red","big", "tasty"]
fruit= [ "Apple", "Banana", "Dorian"]

for i in adj:
    for j in fruit:
        print(i,j)

def nested_loop():
    for i in range(2, 4) :
        for j in range(1, 11) :
            print("f{i} x {j:6}")
        print("_"*30)

red Apple
red Banana
red Dorian
big Apple
big Banana
big Dorian
tasty Apple
tasty Banana
tasty Dorian

In [34]:
li = [3, 1, 4, 2, 5]
li.sort()
print(li)

li = [3, 1, 4, 2, 5]
print(sorted(li))
print(li)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[3, 1, 4, 2, 5]

### 0.0.2 Set

set {...}, contained different data type, unorder, unchangeable, unindexing

In [35]:
book={"Mein Kampf","Think and grow rich", "Follow your heart","7 habbit",9}
book

{'7 habbit', 9, 'Follow your heart', 'Mein Kampf', 'Think and grow rich'}

In [36]:
# loop
for i in book:
    print(i)

Mein Kampf
Think and grow rich
9
Follow your heart
7 habbit

In [37]:
book.add("Cambodia")
book

{'7 habbit',
 9,
 'Cambodia',
 'Follow your heart',
 'Mein Kampf',
 'Think and grow rich'}

### 0.0.3

tuple (...),contain differrent tatype, order, unchangeable, allow dublicated item

In [38]:
cou=("Cambodia","Thailand","Brunei",34,67.901,"Brunei")
print(cou[0])
print(cou[2])
print(cou[5])

Cambodia
Brunei
Brunei

In [39]:
#update tuple
count1=list(cou)#convert from tuple to list
count1[3]=23 #change value
cou=tuple(count1)
print(cou)

('Cambodia', 'Thailand', 'Brunei', 23, 67.901, 'Brunei')

In [40]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
print(x)

('Brunei', 'Cambodia', 'Japan', 'Lao')

In [41]:
# unpack
(Lotus,Romdul,Sakura,Champa) = x
print(Lotus)

Brunei

In [42]:
a=("y","s","t")
b=(1,5,8)
c=a+b
print(c)

('y', 's', 't', 1, 5, 8)

In [43]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
y=x*2
print(y)

('Brunei', 'Cambodia', 'Japan', 'Lao', 'Brunei', 'Cambodia', 'Japan', 'Lao')

In [44]:
d=(3,6,8)
f=d*2
print(f)

(3, 6, 8, 3, 6, 8)

### 0.0.4

Dictionaty{key:value}, order, changable, and do not allow for dublicated key

In [45]:
dict={ "Hi":" ", "Cambodia":" ", "Love":" ", "Age":28}

In [46]:
print(dict["Hi"])

In [47]:
for x in dict:
    print(x)

Hi
Cambodia
Love
Age

In [48]:
print(dict["Age"])

28

In [49]:
l = dict.keys()
print(l)

dict_keys(['Hi', 'Cambodia', 'Love', 'Age'])

In [50]:
dict["Age"] = 38
dict

{'Hi': ' ', 'Cambodia': ' ', 'Love': ' ', 'Age': 38}

In [51]:
dict.update({"age":48})

In [52]:
dict

{'Hi': ' ', 'Cambodia': ' ', 'Love': ' ', 'Age': 38, 'age': 48}

In [53]:
dict["Job"]="Data Scientist"
dict

{'Hi': ' ',
 'Cambodia': ' ',
 'Love': ' ',
 'Age': 38,
 'age': 48,
 'Job': 'Data Scientist'}

In [54]:
dict.pop("age")
dict

{'Hi': ' ', 'Cambodia': ' ', 'Love': ' ', 'Age': 38, 'Job': 'Data Scientist'}

In [55]:
score = {'color':"green", 'point':100}
print('You have earned '+str(score['color']) +' color, you will get '+str(score['point']))

You have earned green color, you will get 100

In [56]:
#nested dictionary
#a={key:{key1:value1, key2:value2}}
family = {
    "kid1":{
        "name": "Dara",
        "sex": 'M',
        "year": 1990
    },
    "kid2":{
        "name": "Dary",
        "sex": 'M',
        "year": 1995
    }
}

In [57]:
print(family["kid2"])

{'name': 'Dary', 'sex': 'M', 'year': 1995}

### 0.0.5 Thank You!