# <center style="font-family: Times New Roman, serif;">data_structure</center>
<p style="font-family: Times New Roman, serif; text-align:center;">February 10, 2022</p>
<h3 style="font-family: Times New Roman, serif; font-weight:bold;font-style: italic;">Author:&nbsp Huon Sophy</h3>
<h3 style="font-family: Times New Roman, serif;">0.0.1&nbsp&nbsp Data Structure</h3>
<p style="font-family: Times New Roman, serif;">
    1.&nbsp list [ …..],(contained diferent data types), order, changable, allow duplicate value
</p>
<p style="font-family: Times New Roman, serif;">
    2.&nbsp tuple (……), (contained different tada type), order, Unchange, allow duplicate valu # index
(start 0)
</p>
<p style="font-family: Times New Roman, serif;">
    3.&nbsp tuple (……), (contained different tada type), order, Unchange, allow duplicate valu # index
(start 0)
</p>
<p style="font-family: Times New Roman, serif;">
    4.&nbsp Dictionary in {key:value} pairs, ordered, changeable and do not allow duplicates.
</p>
<h3 style="font-family: Times New Roman, serif;">List</h3>

In [63]:
country= ['Cambodia', " Thailand", " Vieatnam", " Laos", " Malaysia", " Japan"]
print(country)

['Cambodia', ' Thailand', ' Vieatnam', ' Laos', ' Malaysia', ' Japan']

In [2]:
print(country[1:4])

['Thailand', 'Vietname', 'Laos']

In [3]:
print(len(country))

6

In [4]:
print(country[-1])

Japan

In [5]:
print(country[-5])

Thailand

In [7]:
print(country[3:])

['Laos', 'Malaysia', 'Japan']

In [8]:
country[1:3]=["French", " England"]
print(country)

['Cambodia', 'French', ' England', 'Laos', 'Malaysia', 'Japan']

In [9]:
country[4]="Cambodia"
print(country)

['Cambodia', 'French', ' England', 'Laos', 'Cambodia', 'Japan']

In [10]:
country.append("Russia")
print(country)

['Cambodia', 'French', ' England', 'Laos', 'Cambodia', 'Japan', 'Russia']

In [11]:
country.insert(2,"Swiss")
print(country)

['Cambodia', 'French', 'Swiss', ' England', 'Laos', 'Cambodia', 'Japan', 'Russia']

In [12]:
#extend concate two list (conbine 2 lists)
fruit=["Mango", " Cherry", "potato"]
country.extend(fruit)
print(country)

['Cambodia', 'French', 'Swiss', ' England', 'Laos', 'Cambodia', 'Japan', 'Russia', 'Mango', ' Cherry', 'potato']

In [13]:
country[5]= "Cambodia"
print(country)

['Cambodia', 'French', 'Swiss', ' England', 'Laos', 'Cambodia', 'Japan', 'Russia', 'Mango', ' Cherry', 'potato']

In [14]:
#removed item from list: remove, pop(), del()
country.remove("Mango")
print(country)

['Cambodia', 'French', 'Swiss', ' England', 'Laos', 'Cambodia', 'Japan', 'Russia', ' Cherry', 'potato']

In [15]:
country.pop(5) #index
print(country)

['Cambodia', 'French', 'Swiss', ' England', 'Laos', 'Japan', 'Russia', ' Cherry', 'potato']

In [16]:
del country[8]
print(country)

['Cambodia', 'French', 'Swiss', ' England', 'Laos', 'Japan', 'Russia', ' Cherry']

In [17]:
#indentation
newlist=[]
for x in country:
    if "a" in x:
        newlist.append(x)
print(newlist)

['Cambodia', ' England', 'Laos', 'Japan', 'Russia']

In [18]:
#sort
country.sort()
print(country)

[' Cherry', ' England', 'Cambodia', 'French', 'Japan', 'Laos', 'Russia', 'Swiss']

In [19]:
num=[45,78,1,45,67,9,3]
print(num)
num.sort()
print(num)

[45, 78, 1, 45, 67, 9, 3]
[1, 3, 9, 45, 45, 67, 78]

In [20]:
adj=["red", "big", "tasty"]
fruit=["Apple", "Banana", "Dorian"]

for i in adj: #red #big #tasty
    for j in fruit:
        print(i,j) #re Apple, red Banana, red Durian #big Apple, big Banana #big Durian #tasty Apple #tasty Banana #tasty Dorian
        
def nested_loop():
    for i in range(2,4):
        for j in range(1,11):
            print("   {}  X  {}   =  {} ".format(i,j,i*j))
        print("_"*30)

red Apple
red Banana
red Dorian
big Apple
big Banana
big Dorian
tasty Apple
tasty Banana
tasty Dorian

In [22]:
adj=["red", "big","tasty"]
fruit=["Apple", "Banana", "Dorian"]

for i in adj: #red #big #tasty
    for j in fruit:
        print(i,j) #re Apple, red Banana, red Durian #big Apple, big Banana #big Durian #tasty Apple #tasty Banana #tasty Dorian

def nested_loop():
    for i in range(2,4):
        for j in range(1,11):
            print(f"{i} X {j:6}")
        print("_"*30)

red Apple
red Banana
red Dorian
big Apple
big Banana
big Dorian
tasty Apple
tasty Banana
tasty Dorian

In [23]:
li = [3,1,4,2,5]
li.sort()
print(li) #[1,2,3,4,5]

li = [3,1,4,2,5]
print(sorted(li)) #[1,2,3,4,5]
print(li) #[3,1,4,2,5]

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[3, 1, 4, 2, 5]

<h3 style="font-family: Times New Roman, serif;">0.0.2&nbsp&nbsp Set</h3>

In [24]:
book={"Main Kampf", "Think and grow rich", "Follow your heart", "7 habbit", 9}
book

{'7 habbit', 9, 'Follow your heart', 'Main Kampf', 'Think and grow rich'}

In [25]:
#loop
for i in book:
    print(i)

Think and grow rich
Main Kampf
7 habbit
9
Follow your heart

In [26]:
book.add("Cambodia")
book

{'7 habbit',
 9,
 'Cambodia',
 'Follow your heart',
 'Main Kampf',
 'Think and grow rich'}

<h3 style="font-family: Times New Roman, serif;">0.0.3&nbsp&nbsp tuple()</h3>
<p style="font-family: Times New Roman, serif;">
    tuple (…),contain differrent tatype, order, unchangeable, allow dublicated item
</p>

In [27]:
cou=("Cambodia","Thailand","Brunei",34,67.901,"Brunei")
print(cou[0])
print(cou[2])
print(cou[5])

Cambodia
Brunei
Brunei

In [28]:
#update tuple
count1=list(cou)#convert from tuple to list
count1[3]=23 #change value
cou=tuple(count1)
print(cou)

('Cambodia', 'Thailand', 'Brunei', 23, 67.901, 'Brunei')

In [29]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
print(x)

('Brunei', 'Cambodia', 'Japan', 'Lao')

In [30]:
#unpack
(Lotus,Romdul,Sakura,Champa) = x

In [31]:
print(Lotus)

Brunei

In [32]:
a=("y","s","t")
b=(1,5,8)
c=a+b
print(c)

('y', 's', 't', 1, 5, 8)

In [33]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
y=x*2
print(y)

('Brunei', 'Cambodia', 'Japan', 'Lao', 'Brunei', 'Cambodia', 'Japan', 'Lao')

In [34]:
d=(3,6,8)
f=d*2
print(f)

(3, 6, 8, 3, 6, 8)

<h3 style="font-family: Times New Roman, serif;">0.0.4&nbsp&nbsp Dictionary {key:value}
</h3>
<p style="font-family: Times New Roman, serif;">
    dictionary {ky:value}, order, changable , and do not allow for dublicated key
</p>

In [36]:
dict={
    "Hi":"    ",
    "Cambodia":"   ",
    "Love":"   ",
    "Age":28}

In [38]:
print(dict["Hi"])

In [39]:
for x in dict:
    print(x)

Hi
Cambodia
Love
Age

In [40]:
print(dict["Age"])

28

In [41]:
l=dict.keys()
print(l)

dict_keys(['Hi', 'Cambodia', 'Love', 'Age'])

In [42]:
dict["Age"]=38
dict

{'Hi': '    ', 'Cambodia': '   ', 'Love': '   ', 'Age': 38}

In [48]:
dict.update({"age":48})

In [49]:
dict

{'Hi': '    ',
 'Cambodia': '   ',
 'Love': '   ',
 'Age': 48,
 'Job': 'Data Scientist',
 'age': 48}

In [50]:
dict["Job"]="Data Scientist"
dict

{'Hi': '    ',
 'Cambodia': '   ',
 'Love': '   ',
 'Age': 48,
 'Job': 'Data Scientist',
 'age': 48}

In [51]:
dict.pop("age")
dict

{'Hi': '    ',
 'Cambodia': '   ',
 'Love': '   ',
 'Age': 48,
 'Job': 'Data Scientist'}

In [53]:
score={'color':'green','point':100}
print('You have earned '+str(score['color'])+" color, you will get "+str(score['point']))

You have earned green color, you will get 100

In [58]:
#nested dictionary
#a={key: {key1:value1, key2:value2}}
family={
    "kid1":{
        'name':'Dara',
        'sex':'M',
        'year':1990
    },
    "kid2":{
        'name': 'Dary',
        "Sex" : 'M',
        'year': 1995
    }
}

In [59]:
print(family["kid1"])

{'name': 'Dara', 'sex': 'M', 'year': 1990}

<h3 style="font-family: Times New Roman, serif;">0.0.5&nbsp&nbsp Thank you!
</h3>