In [3]:
country= ['Cambodia', " Thailand", " Vieatnam", " Laos", " Malaysia", " Japan"]
print(country)

['Cambodia', ' Thailand', ' Vieatnam', ' Laos', ' Malaysia', ' Japan']

In [4]:
print(country[1:4])

[' Thailand', ' Vieatnam', ' Laos']

In [5]:
print(len(country))

6

In [6]:
print(country[-1])

 Japan

In [7]:
print(country[-5])

 Thailand

In [8]:
print(country[3:])

[' Laos', ' Malaysia', ' Japan']

In [9]:
country[1:3]=["French", " England"]
print(country)

['Cambodia', 'French', ' England', ' Laos', ' Malaysia', ' Japan']

In [10]:
country[1:3]=["French", " England"]
print(country)

['Cambodia', 'French', ' England', ' Laos', ' Malaysia', ' Japan']

In [11]:
country.append("Russia")
print(country)

['Cambodia', 'French', ' England', ' Laos', ' Malaysia', ' Japan', 'Russia']

In [12]:
country.insert(2, "Swiss")
print(country)

['Cambodia', 'French', 'Swiss', ' England', ' Laos', ' Malaysia', ' Japan', 'Russia']

In [13]:
fruit=["Mango", " Cherry", "potato"]
country.extend(fruit)
print(country)

['Cambodia', 'French', 'Swiss', ' England', ' Laos', ' Malaysia', ' Japan', 'Russia', 'Mango', ' Cherry', 'potato']

In [14]:
country[5]= "Cambodia"
print(country)

['Cambodia', 'French', 'Swiss', ' England', ' Laos', 'Cambodia', ' Japan', 'Russia', 'Mango', ' Cherry', 'potato']

In [15]:
country.remove("Mango")
print(country)

['Cambodia', 'French', 'Swiss', ' England', ' Laos', 'Cambodia', ' Japan', 'Russia', ' Cherry', 'potato']

In [17]:
country.pop(5)#index
print(country)

['Cambodia', 'French', 'Swiss', ' England', ' Laos', ' Japan', 'Russia', ' Cherry', 'potato']

In [18]:
del country[8]
print(country)

['Cambodia', 'French', 'Swiss', ' England', ' Laos', ' Japan', 'Russia', ' Cherry']

In [20]:
newlist=[]
for x in country:
    if "a" in x:
        newlist.append(x)
print(newlist)

['Cambodia', ' England', ' Laos', ' Japan', 'Russia']

In [21]:
country.sort()
print(country)

[' Cherry', ' England', ' Japan', ' Laos', 'Cambodia', 'French', 'Russia', 'Swiss']

In [22]:
num=[45,78,1,45,67,9,3]
print(num)
num.sort()
print(num)

[45, 78, 1, 45, 67, 9, 3]
[1, 3, 9, 45, 45, 67, 78]

In [23]:
adj=["red","big", "tasty"]
fruit= [ "Apple", "Banana", "Dorian"]
for i in adj: #red #big #tasty
  for j in fruit:
    print(i,j)#red Apple, red Banana, red Durian #Big Apple, big Banaana,␣

def nested_loop():
  for i in range (2, 4):
    for j in range(1,11):
      print(" {} x {} = {} ".format(i,j,i*j))
print("_"*30)

red Apple
red Banana
red Dorian
big Apple
big Banana
big Dorian
tasty Apple
tasty Banana
tasty Dorian
______________________________

In [25]:
li = [3, 1, 4, 2, 5]
li.sort()
print (li) # [1, 2, 3, 4, 5]
li = [3, 1, 4, 2, 5]
print (sorted(li)) # [1, 2, 3, 4, 5]
print (li) # [3, 1, 4, 2, 5]

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[3, 1, 4, 2, 5]

In [26]:
book={"Mein Kampf","Think and grow rich", "Follow your heart","7 habbit",9}
book

{'7 habbit', 9, 'Follow your heart', 'Mein Kampf', 'Think and grow rich'}

In [27]:
for i in book:
  print(i)

Follow your heart
9
Think and grow rich
7 habbit
Mein Kampf

In [28]:
book.add("Cambodia")
book

{'7 habbit',
 9,
 'Cambodia',
 'Follow your heart',
 'Mein Kampf',
 'Think and grow rich'}

In [29]:
cou=("Cambodia","Thailand","Brunei",34,67.901,"Brunei")
print(cou[0])
print(cou[2])
print(cou[5])

Cambodia
Brunei
Brunei

In [30]:
count1=list(cou)#convert from tuple to list
count1[3]=23 #change value
cou=tuple(count1)
print(cou)

('Cambodia', 'Thailand', 'Brunei', 23, 67.901, 'Brunei')

In [31]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
print(x)

('Brunei', 'Cambodia', 'Japan', 'Lao')

In [32]:
(Lotus,Romdul,Sakura,Champa) = x

In [33]:
print(Lotus)

Brunei

In [34]:
a=("y","s","t")
b=(1,5,8)
c=a+b
print(c)

('y', 's', 't', 1, 5, 8)

In [35]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
y=x*2
print(y)

('Brunei', 'Cambodia', 'Japan', 'Lao', 'Brunei', 'Cambodia', 'Japan', 'Lao')

In [36]:
d=(3,6,8)
f=d*2
print(f)

(3, 6, 8, 3, 6, 8)