In [1]:
def test():
  print("I like coding")
  print("The world is beautiful with coding")
  print("Python is eating data science")
test()

I like coding
The world is beautiful with coding
Python is eating data science

In [3]:
def test1():
  a=40
  b=50
  print(a+b)
test1()

90

In [4]:
def tri_area_cal():
  b=float(input("Enter weight:"))
  h=float(input("Enter height:"))
  area=0.5*b*h
  print("The area of triangle is : ",area)
  print(f"The area of triangle is : {area}")
def cir_area_cal():
  r=float(input(" Enter R: "))
  area= 3.14*r*r
  print(f"The area of circle is : {area}")
def rec_area_cal():
  b=float(input("Enter weight:"))
  h=float(input("Enter height:"))
  area=b*h
  print("The area of triangle is : ",area)
tri_area_cal()

Enter weight:15
Enter height:20
The area of triangle is :  150.0
The area of triangle is : 150.0

In [6]:
def tri_area_cal():
  b=float(input("Enter weight:"))
  h=float(input("Enter height:"))
  area=0.5*b*h
  print("The area of triangle is : ",area)
  print(f"The area of triangle is : {area}")
def cir_area_cal():
  r=float(input(" Enter R: "))
  area= 3.14*r*r
  print(f"The area of circle is : {area}")#f string format (3.6 )
def rec_area_cal():
  b=float(input("Enter weight:"))
  h=float(input("Enter height:"))
  area=b*h
  print("The area of triangle is : ",area)
def cel_to_far():
  b=float(input("Enter tem_cel:"))
  far=(b * 9/5) + 32
  print(f"Temperature as fahranheit is : {far}")#f string
#print("Temperature as fahranheit is : {}",.format('far')#string format
#def
print("welcome to area calculation and temperature coversion :")
print("1. Rectangle area ")
print("2. Circle area ")
print("3. Triangle area ")
print("4. Celcius to fahrenheit")
print("5. Fahrenheit to celciu")
n=int(input("select your choice: "))
if n==1:
   rec_area_cal()
elif n==2:
    cir_area_cal()
elif n==3:
    tri_area_cal()

welcome to area calculation and temperature coversion :
1. Rectangle area
2. Circle area
3. Triangle area
4. Celcius to fahrenheit
5. Fahrenheit to celciu
select your choice: 2
 Enter R: 50
The area of circle is : 7850.0

In [12]:
#return function have keyword return
#paramednter vs argument
def sum_3_num(a, b, c):
    return a+b+c

#print(sum_3_num(45,6,7))
def triangle_area(a,b):
    area=0.5 *a*b
    return area
a =triangle_area(6,9)

#print(a)
def far_to_cel(far):
    return (far-32)*(5/9)

a=float(input("Enter Farenheit temperature: "))
temp_cel=far_to_cel(a)

print(f"{a} degree farenheit = {temp_cel:.2f} degree celius")
print(a," degree farenheit = ",round(temp_cel,3), " degree celius")

Enter Farenheit temperature: 10
10.0 degree farenheit = -12.22 degree celius
10.0  degree farenheit =  -12.222  degree celius

In [13]:
def far_to_cel(far):
    return (far-32)*(5/9)
def cel_to_far(cel):
    return (cel*9/5)+32

print("Welcome to temperature coversion program")
print("1. Celious to farenheit")
print("2. farenheit to celious")

n=int(input("Choise: "))
if(n==1):
    a=float(input("Enter celious degree: "))
    b=cel_to_far(a)
    print(f"The farenheit degree at {a} celious degree is: {b}")

elif (n==2):
    x=float(input("Enter farenheit degree:"))
    y=far_to_cel(x)
    print(f"The farenheit degree at {x} celious degree is: {y}")

Welcome to temperature coversion program
1. Celious to farenheit
2. farenheit to celious
Choise: 2
Enter farenheit degree:100
The farenheit degree at 100.0 celious degree is: 37.77777777777778

In [14]:
def invest_fv(pv,rate,years):
    for i in range(1,years+1):
        pv=pv*(1+rate/100)
        print(f"year {i} : ${pv:.2f}")
pv=int(input("Enter your money $: "))
rate=float(input("Enter a yearly rate: "))
years=int(input("Enter number of yearts: "))

invest_fv(pv,rate,years)

Enter your money $: 100
Enter a yearly rate: 20
Enter number of yearts: 5
year 1 : $120.00
year 2 : $144.00
year 3 : $172.80
year 4 : $207.36
year 5 : $248.83

In [15]:
def factory(n):
    if n<0:
        return "Error: only possitive accepted"
    elif n==0:
        return 1
    else:
        return n *factory(n-1)
print(factory(4))

24

In [16]:
def countdown_num(n):
    if n==0:
        return 0
    elif n<0: #-10+1
        print(n)
        return countdown_num(n+1)
    else:
        print(n)
        return countdown_num(n-1)
num=int(input("Enter number: "))
print(countdown_num(num))

Enter number: 100
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [17]:
def exp_num(n,m):
    if m==0:
        return n
    else:
        return n*exp_num(n,m-1)
print(exp_num(5,2))

125

In [18]:
def area_rec(w,h):
    return w*h
x = lambda w , h : w*h
far_to_cel = lambda far: ((far-32)*(5/9))
cel_to_far = lambda cel: ((cel * 9/5) + 32)
print(area_rec(20,45))
print(x(20,45))
print(far_to_cel(59))
print(cel_to_far(34))

900
900
15.0
93.2

In [24]:
#def far_to_cel(far):
# return (far-32)*(5/9)
x=lambda far:(far-32)*(5/9)
#def cel_to_far(cel):
# return (cel*9/5)+32
y=lambda cel:(cel*9/5)+32
print("Welcome to temperature coversion program")
print("1. Celious to farenheit")
print("2. farenheit to celious")
n=int(input("Choice: "))
if(n==1):
    a=float(input("Enter celious degree: "))
    b=x(a)
    print(f"The farenheit degree at {a} celious degree is: {b:.3f} ")
#elif (n==2):v

Welcome to temperature coversion program
1. Celious to farenheit
2. farenheit to celious
Choice: 1
Enter celious degree: 100
The farenheit degree at 100.0 celious degree is: 37.778